.about-us {

  .grid-list {
    max-width: 1200px;
    margin: 0 auto;

    > li {
      padding: 0;
      box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.08);
      align-items: initial;
      justify-content: initial;
      min-height: inherit;
      width: 47%;

      .member-image {
        width: 35%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      .member-info {
        width: 60%;
        text-align: left;
        padding: 25px;
        font-size: 1.3rem;
      }

      h2 {
        padding: 0;
        margin: 0;
      }

      h3 {
        padding: 0;
        margin: 0 0 15px 0;
        color: $cSecondaryText;
      }

      ul.social {
        list-style: none;
        font-size: 2rem;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          margin: 0 20px 0 0;
        }
      }
    }
  }

  .secondary-content {
    max-width: 1000px;
    margin: 60px auto;
    padding: 10px;
    line-height: 1.8;
    position: relative;
    background: repeating-linear-gradient(45deg, rgba($cSecondaryText, 0.15) 0%, rgba($cSecondaryText, 0.15) 10%, rgba($cSecondary, 0.15) 0%, rgba($cSecondary, 0.15) 50%) 0 / 15px 15px;

    p {
      background: rgba($cW, 0.85);
      padding: 60px 20px;
      margin: 0;

      button {
        display: block;
        margin: 40px auto 0;
      }
    }
  }
}