footer {
  background: #fff;
  text-align: center;
  padding: 0 20px;
  position: relative;

  .footer-container {
    padding: 20px;
    position: relative;
    border-top: 1px solid $cSecondary;

    p {
      margin: 0;
      font-size: 1.3rem;
    }

    .copy-creds {
      font-size: 1.3rem;
    }

    .social {
      position: absolute;
      top: 17px;
      left: 20px;

      li {
        display: inline-block;
        font-size: 2.4rem;
        margin: 0 15px 0 0;
      }
    }

    .notice {
      position: absolute;
      top: 20px;
      right: 20px;

      a {
        color: $cAction2;
        padding: 0 0 0 4px;
        font-weight: 700;
      }
    }
  }
}