//-------------------------//
//-----> Global
//-------------------------//

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 10px;
  background: $cW;

  body {
    font-family: $fPrimary;
    color: $cPrimary;
    font-size: 62.5%;
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
    padding: 0;

    > div {
      font-size: 18px;
      font-size: 1.8rem;
    }
  }

  h1 {
    font-weight: 900;
    font-size: 4.8rem;
    margin: 0;
    color: $cPrimary;
  }

  h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.4;
    color: $cPrimary;
  }

  h3 {
    font-size: 2rem;
    color: $cPrimary;
  }

  h4 {
    font-size: 1.8rem;
    color: $cPrimary;
  }

  h5 {
    font-size: 1.8rem;
    margin: 0 0 8px 0;
    color: $cPrimary;
  }

  p {
    margin: 0 0 15px 0;
    color: $cPrimary;
  }

  ul {
    margin: 0 0 15px 0;
    list-style: disc;
  }

  a {
    color: $cAction;
    text-decoration: none;
    transition: color 0.5s;

    &:hover,
    &:focus {
      color: $cAction2;
    }
  }

  input,
  textarea {
    font-size: 1.4rem !important;
  }

  textarea {
    line-height: 1.6 !important;
  }

  body button[type=button],
  body button[type=submit] {
    height: auto;
    border-radius: 0;
    margin: 15px 0;
    padding: 10px 20px;
    font-size: 1.4rem;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1), 0px 2px 2px 0px rgba(0, 0, 0, 0.1), 0px 3px 1px -2px rgba(0, 0, 0, 0.08);

    span {
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: 0.05em;
    }
  }

  .md-background--secondary {
    color: $cPrimary;
  }
}


.mask {
  width: 100%;
  height: 100%;
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(#000, 0.5);
  z-index: 1010;
}

.md-paper.md-drawer--fixed {
  z-index: 1011;
}

// Form List
.form-container .form-list {
  display: block;

  li {
    display: block;
  }
}

// Grid List

.grid-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  > li {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 29%;
    min-height: 300px;
    padding: 20px;
    margin: 0 15px 30px 15px;
    border: 1px solid $cSecondary;
  }
}

.image-grid {
  margin: 100px auto $defaultSpace auto;
  max-width: 1200px;

  > li {
    position: relative;
    border: none;
    padding: 0;
    margin: 0 15px 30px 15px;
    min-height: inherit;
    width: 45%;

    img {
      max-width: 160px;
      display: block;
      padding-bottom: 20px;
    }

    h2 {
      position: absolute;
      bottom: -14px;
      left: 0;
      padding: 10px 0;
      background: $cSecondaryText;
      color: $cW;
      width: 100%;
      font-size: 1.6rem;
    }

    a {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 250px;
      text-align: center;
      align-items: center;
      justify-content: center;
      border: 1px solid $cSecondary;
      box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.08);
      overflow: hidden;
      background: $cW;

      &:hover {
        box-shadow: none;

        img {
          -webkit-filter: grayscale(1);
          filter: grayscale(1);
          opacity: 0.5;
          transition: all 0.5s;
        }

        h2 {
          background: $cAction;
          transition: all 0.5s;
        }
      }
    }
  }
}

// Highlight Content
.highlight-content {
  max-width: 1000px;
  margin: 10px auto;
  padding: 10px;
  line-height: 1.8;
  position: relative;
  background: repeating-linear-gradient(45deg, rgba($cSecondaryText, 0.15) 0%, rgba($cSecondaryText, 0.15) 10%, rgba($cSecondary, 0.15) 0%, rgba($cSecondary, 0.15) 50%) 0 / 15px 15px;

  .background {
    background: rgba($cW, 0.85);
    padding: 30px 20px;
  }

  .drawer-toggle {
    display: inline-block;
  }

  .text {
    padding: 0;
    margin: 0;
    display: inline-block;
    color: $cHighlightText;
    font-weight: 900;
    text-transform: uppercase;
  }

  button[type=button] {
    display: inline-block;
    margin: 0 0 0 25px;
  }
}

.expansion-panel {
  display: none;
  width: 100%;
  position: absolute !important;
  bottom: -46px;
  left: 0;
  border: 1px solid rgba($cSecondary, 0.5);
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.08) !important;

  .expansion-title {
    padding: 0;
    margin: 0;
    min-height: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    color: $cAction;

    > div {
      padding: 10px;
      margin: 0;
    }

    svg {
      fill: $cAction;
    }
  }

  .expansion-details {
    text-align: left;
    font-size: 1.4rem;
    padding: 0 10px 22px;
  }
}

// Animations

.fade-exit {
  display: none;
}

.fade-enter {
  z-index: 1;
  opacity: 1;
}

.made-in-michigan {
  margin: 40px 0;
  font-size: 1.7rem;

  strong {
    position: relative;

    span {
      text-transform: uppercase;
      font-weight: 900;
      background: $cW;
      padding: 5px;
      position: relative;
      z-index: 2;
    }

    img {
      width: 70px;
      opacity: 0.1;
      transform: rotate(25deg);
      position: absolute;
      top: -23px;
      right: -50px;
      z-index: 1;
    }
  }
}

//-------------------------//
//-----> Helper Classes
//-------------------------//

.error {
  color: $cError;
}

.block {
  display: block;
}

.no-show {
  display: none;
}

.no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.align-right {
  text-align: right;
}

.thin {
  font-weight: 300;
}

.small-title {
  text-transform: inherit;
  font-weight: 700;
  margin: 0;

  > button[type=button] {
    margin: 0 0 0 20px;
  }
}

.small-title-caps {
  font-weight: 300;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: block;
}

.mobile-only {
  display: none !important;
}