.drawer form {
  font-size: 1.4rem;

  label {
    font-size: 1.4rem;
  }

  input {
    font-size: 1.4rem;
  }
}

.form-list {

  li > div {
    width: 100%;
  }
}

.drawer-container {
   min-width: 300px;
   padding: $defaultSpace;
}

.close {
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
  color: $cAction;
}

.form-drawer {
  padding: 13px $defaultSpace $defaultSpace;
  position: relative;

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: $cAction;
  }

  p {
    font-size: 1.4rem !important;
  }

  label {
    font-size: 1.6rem !important;
  }

  .submit-container {
    margin: 20px 0 10px 0;
    text-align: center;

    button {
      width: 100%;
    }
  }

  .success-message {
    margin-top: 20px;
  }

  .success-check {
    background: $cAction;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin: 0 auto;

    svg {
      fill: $cW;
      padding: 8px;
    }
  }

  .success-content {
    opacity: 0;
    text-align: center;

    h3 {
      padding: 0;
      margin: 10px 0 5px 0;
    }

    p {
      margin: 0;
      line-height: 1.4;
    }

    em {
      display: block;
      margin: 10px 0;
    }
  }

  .form-container {

    &.success-true {

      .form-inner {
        overflow: hidden;
        display: none;
      }

      .success-content {
        opacity: 1;
        transition: opacity 0.5s;
      }
    }

    &.completed-true {

      .form-inner {
        display: none;
      }

      .success-content {
        opacity: 1;
      }
    }
  }
}

.nav-drawer {
  padding: 0;

  h2 {
    padding: 15px;
    margin: 0;
  }

  li {

    a {
      display: block;
      width: 100%;
      padding: 15px;
      color: $cW;
      background: $cAction;
      border-bottom: 1px solid $cW;
      font-weight: 900;


      &.active {
        background: rgba($cHighlightText, 0.6);
        font-weight: 700;
      }
    }
  }

  .contact-form-mobile {
    padding: 0 20px 20px 20px;
  }
}