//-------------------------//
//-----> Global
//-------------------------//

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $fPrimary;
  color: $cPrimary;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4;
}

h1 {
  font-weight: 900;
  font-size: 4.8rem;
  margin: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 1.3vw;
  font-weight: 600;
  line-height: 1.4;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.8rem;
  margin: 0 0 8px 0;
}

p {
  margin: 0 0 15px 0;
}

ul {
  margin: 0 0 15px 0;
  list-style: disc;
}

a {
  color: $cAction;
  text-decoration: none;
  transition: color 0.5s;

  &:hover,
  &:focus {
    color: $cAction2;
  }
}

body button[type=button] {
  border-radius: 0;
  margin: 15px 0;
  //box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.08);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1), 0px 2px 2px 0px rgba(0, 0, 0, 0.1), 0px 3px 1px -2px rgba(0, 0, 0, 0.08);

  span {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
}

// Grid List

.grid-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  > li {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 29%;
    min-height: 300px;
    padding: 20px;
    margin: 0 15px 30px 15px;
    border: 1px solid $cSecondary;
  }
}

.image-grid {
  margin: 100px auto $defaultSpace auto;
  max-width: 1200px;

  > li {
    position: relative;
    border: none;
    padding: 0;
    margin: 0 15px 30px 15px;
    min-height: inherit;
    width: 45%;

    img {
      max-width: 160px;
      display: block;
      padding-bottom: 20px;
    }

    h2 {
      position: absolute;
      bottom: -14px;
      left: 0;
      padding: 10px 0;
      background: $cSecondaryText;
      color: $cW;
      width: 100%;
      font-size: 1.6rem;
    }

    a {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 250px;
      text-align: center;
      align-items: center;
      justify-content: center;
      border: 1px solid $cSecondary;
      box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.08);
      overflow: hidden;
      background: $cW;

      &:hover {
        box-shadow: none;

        img {
          -webkit-filter: grayscale(1);
          filter: grayscale(1);
          opacity: 0.5;
          transition: all 0.5s;
        }

        h2 {
          background: $cAction;
          transition: all 0.5s;
        }
      }
    }
  }
}

//// Animations

.fade-exit {
  display: none;
}

.fade-enter {
  z-index: 1;
  opacity: 1;

  //.page-content {
  //  opacity: 0;
  //}
}

.fade-enter.fade-enter-active {

  //.page-content {
  //  opacity: 1;
  //  transition: opacity 750ms ease-in;
  //}
}


/*

fade-enter-done
fade-exit
fade-exit-active

*/

//-------------------------//
//-----> Helper Classes
//-------------------------//
.block {
  display: block;
}

.no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.align-right {
  text-align: right;
}

.thin {
  font-weight: 300;
}

.small-title {
  text-transform: inherit;
  font-weight: 700;
  margin: 0;

  > button[type=button] {
    margin: 0 0 0 20px;
  }
}

.small-title-caps {
  font-weight: 300;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: block;
}

/////////////////////////

.blue,
.green,
.red {
  width: 150px;
  height: 150px;
  background: blue;
  display: inline-block;
  margin: 0 20px 0 0;
}

.green {
  background: green;
}

.red {
  background: red;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}