//-------------------------//
//-----> Global
//-------------------------//

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $fPrimary;
  color: $cPrimary;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4;
}

h1 {
  font-weight: 900;
  font-size: 4.8rem;
  margin: 0;
}

h2 {
  font-size: 2.8rem;
  margin: 0 0 20px 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.8rem;
  margin: 0 0 8px 0;
}

p {
  margin: 0 0 15px 0;
}

ul {
  margin: 0 0 15px 0;
  list-style: disc;
}

a {
  color: $cAction;
  text-decoration: none;
  transition: color 0.5s;

  &:hover,
  &:focus {
    color: $cAction2;
  }
}

body button[type=button] {
  border-radius: 0;
  margin: 15px 0;

  span {
    font-size: 1.2rem;
  }
}

section.sub-page {
  margin: 78px 0;
  position: relative;
  background: $cW;

  .page-progress {
    height: 3px;
    margin: 20px 0 0 0;
    width: 100%;
  }

  .page-header {
    font-weight: 400;
    line-height: 1.4;
    margin: $defaultSpace;
    border-bottom: 1px solid rgba($cSecondaryText, 0.3);
    padding: 20px 0 0 0;

    span.delim {
      color: rgba($cSecondaryText, 0.3);
      font-size: 2.8rem;
      margin: 0 5px 0 6px;
      position: relative;
      top: 3px;
      font-weight: 300;
    }

    a {
      font-size: 2rem;
    }

    h1 {
      display: inline-block;
      font-weight: 600;
      font-size: 3rem;
      bottom: -3px;
      position: relative;
    }
  }

  .page-content {
    opacity: 0;
    text-align: center;

    .content-intro {
      margin: 0 $defaultSpace $defaultSpace;
    }
  }
}

section.sub-page.loaded {

  .page-progress {
    height: 0;
    background: none;
    transition: height 0.6s;

    > div {
      border-top: rgba($cSecondaryText, 0.3);
      background: none;
      transition: all 0.8s;
    }
  }

  .page-content {
    opacity: 1;
    transition: opacity 700ms ease-in;
  }
}


// Grid List

.grid-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 29%;
    min-height: 300px;
    padding: 20px;
    margin: 0 10px 20px 10px;
    border: 1px solid $cSecondary;
  }
}

//// Animations

.fade-exit {
  display: none;
}

.fade-enter {
  z-index: 1;
  opacity: 1;

  //.page-content {
  //  opacity: 0;
  //}
}

.fade-enter.fade-enter-active {

  //.page-content {
  //  opacity: 1;
  //  transition: opacity 750ms ease-in;
  //}
}


/*

fade-enter-done
fade-exit
fade-exit-active

*/

//-------------------------//
//-----> Helper Classes
//-------------------------//
.block {
  display: block;
}

.no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.align-right {
  text-align: right;
}

.thin {
  font-weight: 300;
}

.small-title-caps {
  font-weight: 300;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: block;
}

/////////////////////////

.blue,
.green,
.red {
  width: 150px;
  height: 150px;
  background: blue;
  display: inline-block;
  margin: 0 20px 0 0;
}

.green {
  background: green;
}

.red {
  background: red;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}