.home {

  .service-intro {
    position: relative;
    top: -40px;
    z-index: 10;
    font-size: 1.4rem;
    line-height: 1.7;
    padding: 5% 0;
    background: repeating-linear-gradient(45deg, rgba($cSecondaryText, 0.3) 0%, rgba($cSecondaryText, 0.3) 10%, rgba(#ffffff, 0.3) 0%, rgba(#ffffff, 0.3) 50%) 0 / 15px 15px;

    > ul {
      list-style: none;
      margin: 0 auto;
      padding: 0 4%;
      display: flex;

      > li {
        margin: 0 10px;
        padding: 20px;
        background: $cW;
        width: 34%;
        position: relative;
        box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2);

        p {
          z-index: 9;
          position: relative;
        }

        &:last-child {
          background: $cSecondary;
          overflow: hidden;

          i.fas {
            position: absolute;
            font-size: 304px;
            bottom: -8px;
            right: -99px;
            color: #fff;
            z-index: 0;
          }
        }
      }
    }

    h2 {
      text-transform: uppercase;
      font-size: 1.3vw;
      font-weight: 600;
      line-height: 1.4;
      border-bottom: 1px solid rgba($cSecondaryText, 0.3);
      padding: 0 0 8px 0;
      margin: 0 0 10px 0;
    }
  }

  .about-intro {
    background: $cW;
    z-index: 10;
    top: -40px;
    position: relative;
    padding: 100px 4%;

    .content-right {
      width: 60%;
    }
  }
}

.hero {
  position: relative;

  h1 {
    position: relative;
    font-size: 9vw;
    color: #fff;
    z-index: 9;
    padding: 13% 3%;
    text-align: left;

    > span {
      display: flex;
      align-items: center;
    }

    .title {
      display: block;
    }

    .sub-title {
      font-size: 5vw;
      margin: -8px 0 0 17vw;

      .thin {
        margin: 0 10px 0 15px;
      }
    }

    .thin {
      font-weight: 300;
      opacity: 0;

      &.small {
        font-size: 4vw;
        position: relative;
        top: -15px;
        color: $cAction2;
        opacity: 1;
      }
    }

    .action {
      text-transform: uppercase;
      color: $cW;
      background: none;
      padding: 5px 15px;
      line-height: 1;
      display: inline-block;
      margin: 0px 0 -8px 12px;
      font-size: 7vw;
      font-weight: 400;
      position: relative;
      background: rgba($cAction2, 0.8);
      opacity: 0;
    }
  }

  .hero-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }
}


.home.loaded {

  .hero {

    h1 {

      .thin,
      .action {
        opacity: 1;
        transition: all 2s;
      }
    }
  }
}
