html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Nunito Sans", sans-serif;
  color: #3f4041;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4; }

h1 {
  font-weight: 900;
  font-size: 4.8rem;
  margin: 0; }

h2 {
  font-size: 2.8rem;
  margin: 0 0 20px 0; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.8rem;
  margin: 0 0 8px 0; }

p {
  margin: 0 0 15px 0; }

ul {
  margin: 0 0 15px 0;
  list-style: disc; }

a {
  color: #527435;
  text-decoration: none;
  transition: color 0.5s; }
  a:hover, a:focus {
    color: #86be40; }

body button[type=button] {
  border-radius: 0;
  margin: 15px 0; }
  body button[type=button] span {
    font-size: 1.2rem; }

section.sub-page {
  margin: 100px 30px; }

.fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 750ms ease-in; }

/*

fade-enter-done
fade-exit
fade-exit-active

*/
.block {
  display: block; }

.no-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.align-right {
  text-align: right; }

.thin {
  font-weight: 300; }

.small-title-caps {
  font-weight: 300;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: block; }

.blue,
.green,
.red {
  width: 150px;
  height: 150px;
  background: blue;
  display: inline-block;
  margin: 0 20px 0 0; }

.green {
  background: green; }

.red {
  background: red; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.app-header {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 78px;
  overflow: hidden;
  z-index: 999;
  border-bottom: 1px solid rgba(63, 64, 65, 0.2); }
  .app-header .branding {
    background: #ffffff;
    padding: 15px 25px 12px 25px;
    margin: 0;
    max-width: 200px; }
  .app-header .logo {
    width: 100%; }
  .app-header nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; }
    .app-header nav ul {
      margin: 0;
      padding: 0; }
    .app-header nav li {
      display: inline-block; }
      .app-header nav li a {
        display: block;
        line-height: 1;
        font-weight: 400;
        z-index: 5;
        position: relative;
        border-left: 1px solid rgba(82, 116, 53, 0.6);
        background: #ffffff;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: 33px 25px; }

footer {
  background: #fff;
  text-align: center;
  padding: 30px;
  position: relative; }
  footer .footer-container p {
    margin: 0; }

.home .service-intro {
  position: relative;
  top: -40px;
  z-index: 10;
  font-size: 1.4rem;
  line-height: 1.7;
  padding: 5% 0;
  background: repeating-linear-gradient(45deg, rgba(210, 210, 210, 0.3) 0%, rgba(210, 210, 210, 0.3) 10%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 50%) 0/15px 15px; }
  .home .service-intro > ul {
    list-style: none;
    margin: 0 auto;
    padding: 0 4%;
    display: flex; }
    .home .service-intro > ul > li {
      margin: 0 10px;
      padding: 20px;
      background: #ffffff;
      width: 34%;
      position: relative;
      box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2); }
      .home .service-intro > ul > li p {
        z-index: 9;
        position: relative; }
      .home .service-intro > ul > li:last-child {
        background: #f5f6f7; }
        .home .service-intro > ul > li:last-child i.fas {
          position: absolute;
          font-size: 104px;
          bottom: 0;
          right: 35%;
          color: #fff;
          z-index: 0; }
  .home .service-intro h2 {
    text-transform: uppercase;
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 1.4;
    border-bottom: 1px solid rgba(210, 210, 210, 0.3);
    padding: 0 0 8px 0;
    margin: 0 0 10px 0; }
.home .about-intro {
  background: #ffffff;
  z-index: 10;
  top: -40px;
  position: relative;
  padding: 100px 4%; }
  .home .about-intro .content-right {
    width: 60%; }

.hero {
  position: relative; }
  .hero h1 {
    position: relative;
    font-size: 9vw;
    color: #fff;
    z-index: 9;
    padding: 13% 3%;
    text-align: left; }
    .hero h1 > span {
      display: flex;
      align-items: center; }
    .hero h1 .title {
      display: block; }
    .hero h1 .sub-title {
      font-size: 5vw;
      margin: -8px 0 0 17vw; }
      .hero h1 .sub-title .thin {
        margin: 0 10px 0 15px; }
    .hero h1 .thin {
      font-weight: 300; }
      .hero h1 .thin.small {
        font-size: 4vw;
        position: relative;
        top: -15px;
        color: #86be40; }
    .hero h1 .action {
      text-transform: uppercase;
      color: #ffffff;
      background: rgba(134, 190, 64, 0.8);
      padding: 5px 15px;
      line-height: 1;
      display: inline-block;
      margin: 0px 0 -8px 12px;
      font-size: 7vw;
      font-weight: 400; }
  .hero .hero-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0; }

/*# sourceMappingURL=app.css.map */
