html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Nunito Sans", sans-serif;
  color: #3f4041;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4; }

h1 {
  font-weight: 900;
  font-size: 4.8rem;
  margin: 0; }

h2 {
  text-transform: uppercase;
  font-size: 1.3vw;
  font-weight: 600;
  line-height: 1.4; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.8rem;
  margin: 0 0 8px 0; }

p {
  margin: 0 0 15px 0; }

ul {
  margin: 0 0 15px 0;
  list-style: disc; }

a {
  color: #527435;
  text-decoration: none;
  transition: color 0.5s; }
  a:hover, a:focus {
    color: #86be40; }

input,
textarea {
  font-size: 1.4rem !important; }

textarea {
  line-height: 1.6 !important; }

body button[type=button],
body button[type=submit] {
  border-radius: 0;
  margin: 15px 0;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1), 0px 2px 2px 0px rgba(0, 0, 0, 0.1), 0px 3px 1px -2px rgba(0, 0, 0, 0.08); }
  body button[type=button] span,
  body button[type=submit] span {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.05em; }

.grid-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .grid-list > li {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 29%;
    min-height: 300px;
    padding: 20px;
    margin: 0 15px 30px 15px;
    border: 1px solid #f5f6f7; }

.image-grid {
  margin: 100px auto 30px auto;
  max-width: 1200px; }
  .image-grid > li {
    position: relative;
    border: none;
    padding: 0;
    margin: 0 15px 30px 15px;
    min-height: inherit;
    width: 45%; }
    .image-grid > li img {
      max-width: 160px;
      display: block;
      padding-bottom: 20px; }
    .image-grid > li h2 {
      position: absolute;
      bottom: -14px;
      left: 0;
      padding: 10px 0;
      background: #d2d2d2;
      color: #ffffff;
      width: 100%;
      font-size: 1.6rem; }
    .image-grid > li a {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 250px;
      text-align: center;
      align-items: center;
      justify-content: center;
      border: 1px solid #f5f6f7;
      box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.08);
      overflow: hidden;
      background: #ffffff; }
      .image-grid > li a:hover {
        box-shadow: none; }
        .image-grid > li a:hover img {
          -webkit-filter: grayscale(1);
          filter: grayscale(1);
          opacity: 0.5;
          transition: all 0.5s; }
        .image-grid > li a:hover h2 {
          background: #527435;
          transition: all 0.5s; }

.highlight-content {
  max-width: 1000px;
  margin: 10px auto;
  padding: 10px;
  line-height: 1.8;
  position: relative;
  background: repeating-linear-gradient(45deg, rgba(210, 210, 210, 0.15) 0%, rgba(210, 210, 210, 0.15) 10%, rgba(245, 246, 247, 0.15) 0%, rgba(245, 246, 247, 0.15) 50%) 0/15px 15px; }
  .highlight-content .background {
    background: rgba(255, 255, 255, 0.85);
    padding: 30px 20px; }
  .highlight-content .text {
    padding: 0;
    margin: 0;
    display: inline-block;
    color: #777777;
    font-weight: 900;
    text-transform: uppercase; }
  .highlight-content button[type=button] {
    display: inline-block;
    margin: 0 0 0 25px; }

.expansion-panel {
  display: none;
  width: 100%;
  position: absolute !important;
  bottom: -41px;
  border: 1px solid rgba(245, 246, 247, 0.5);
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.08) !important; }
  .expansion-panel .expansion-title {
    padding: 0;
    margin: 0;
    min-height: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #527435; }
    .expansion-panel .expansion-title > div {
      padding: 10px;
      margin: 0; }
    .expansion-panel .expansion-title svg {
      fill: #527435; }
  .expansion-panel .expansion-details {
    text-align: left;
    font-size: 1.4rem;
    padding: 0 10px 22px; }

.fade-exit {
  display: none; }

.fade-enter {
  z-index: 1;
  opacity: 1; }

.error {
  color: #7d1b14; }

.block {
  display: block; }

.no-show {
  display: none; }

.no-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.align-right {
  text-align: right; }

.thin {
  font-weight: 300; }

.small-title {
  text-transform: inherit;
  font-weight: 700;
  margin: 0; }
  .small-title > button[type=button] {
    margin: 0 0 0 20px; }

.small-title-caps {
  font-weight: 300;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: block; }

.mobile-only {
  display: none !important; }

.app-header {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 78px;
  overflow: hidden;
  z-index: 999;
  border-bottom: 1px solid #f5f6f7; }
  .app-header .branding {
    background: #ffffff;
    padding: 15px 25px 12px 25px;
    margin: 0;
    max-width: 200px; }
  .app-header .logo {
    width: 100%; }
  .app-header nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; }
    .app-header nav ul {
      margin: 0;
      padding: 0; }
    .app-header nav li {
      display: inline-block; }
      .app-header nav li a {
        display: block;
        line-height: 1;
        font-weight: 400;
        z-index: 5;
        position: relative;
        background: #ffffff;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: 33px 25px; }
        .app-header nav li a:after {
          position: absolute;
          content: '';
          display: table;
          height: 4px;
          width: 101%;
          background: rgba(82, 116, 53, 0.1);
          bottom: -10px;
          left: 0;
          transition: all 0.4s; }
        .app-header nav li a:hover {
          color: #527435; }
          .app-header nav li a:hover:after {
            bottom: 0;
            background: #527435; }
        .app-header nav li a.active {
          cursor: default;
          color: #86be40; }
          .app-header nav li a.active:after {
            bottom: 0;
            background: #86be40; }
      .app-header nav li aside {
        display: block;
        line-height: 1;
        font-weight: 400;
        z-index: 5;
        position: relative;
        background: #ffffff;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: 30px 25px; }
        .app-header nav li aside:after {
          position: absolute;
          content: '';
          display: table;
          height: 4px;
          width: 101%;
          background: rgba(82, 116, 53, 0.1);
          bottom: -10px;
          left: 0;
          transition: all 0.4s; }
        .app-header nav li aside:hover {
          color: #527435; }
          .app-header nav li aside:hover:after {
            bottom: 2px;
            background: #527435; }
      .app-header nav li button {
        margin: 0;
        padding: 0;
        min-width: inherit;
        min-height: inherit;
        color: #527435;
        box-shadow: none;
        border: none; }
        .app-header nav li button:hover {
          background-color: transparent; }
        .app-header nav li button i {
          font-size: 2rem; }

.root .app-header {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5); }

.mobile-menu {
  display: none; }

.skip-nav {
  position: absolute;
  top: -2000px; }

footer {
  background: #fff;
  text-align: center;
  padding: 0 20px;
  position: relative; }
  footer .footer-container {
    padding: 20px;
    position: relative;
    border-top: 1px solid #f5f6f7; }
    footer .footer-container p {
      margin: 0;
      font-size: 1.3rem; }
    footer .footer-container .copy-creds {
      font-size: 1.3rem; }
    footer .footer-container .social {
      position: absolute;
      top: 17px;
      left: 20px; }
      footer .footer-container .social li {
        display: inline-block;
        font-size: 2.4rem;
        margin: 0 15px 0 0; }
    footer .footer-container .notice {
      position: absolute;
      top: 20px;
      right: 20px; }
      footer .footer-container .notice a {
        color: #86be40;
        padding: 0 0 0 4px;
        font-weight: 700; }

.home {
  background: #000; }
  .home .service-intro {
    position: relative;
    top: -40px;
    z-index: 10;
    font-size: 1.4rem;
    line-height: 1.7;
    padding: 5% 0;
    background: repeating-linear-gradient(45deg, rgba(210, 210, 210, 0.3) 0%, rgba(210, 210, 210, 0.3) 10%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 50%) 0/15px 15px; }
    .home .service-intro > ul {
      list-style: none;
      margin: 0 auto;
      padding: 0 4%;
      display: flex; }
      .home .service-intro > ul > li {
        margin: 0 10px;
        padding: 20px;
        background: #ffffff;
        width: 34%;
        position: relative;
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2); }
        .home .service-intro > ul > li p {
          z-index: 9;
          position: relative; }
        .home .service-intro > ul > li:last-child {
          background: #f5f6f7;
          overflow: hidden; }
          .home .service-intro > ul > li:last-child i.fas {
            position: absolute;
            font-size: 304px;
            bottom: -8px;
            right: -99px;
            color: #fff;
            z-index: 0; }
    .home .service-intro h2 {
      text-transform: uppercase;
      font-size: 1.3vw;
      font-weight: 600;
      line-height: 1.4;
      border-bottom: 1px solid rgba(210, 210, 210, 0.3);
      padding: 0 0 8px 0;
      margin: 0 0 10px 0; }
  .home .about-intro {
    background: #ffffff;
    z-index: 10;
    margin: -40px 0 0 0;
    position: relative;
    padding: 100px 4%; }
    .home .about-intro .about-container {
      max-width: 1200px;
      display: flex; }
    .home .about-intro .content-left {
      align-items: center;
      justify-content: center;
      text-align: center;
      min-width: 200px;
      margin-right: 30px; }
    .home .about-intro .content-right {
      width: 80%; }

.hero {
  position: relative; }
  .hero h1 {
    position: relative;
    font-size: 9vw;
    color: #fff;
    z-index: 9;
    padding: 13% 3%;
    text-align: left; }
    .hero h1 > span {
      display: flex;
      align-items: center; }
    .hero h1 .title {
      display: block; }
    .hero h1 .sub-title {
      font-size: 5vw;
      margin: -8px 0 0 17vw; }
      .hero h1 .sub-title .thin {
        margin: 0 10px 0 15px; }
    .hero h1 .thin {
      font-weight: 300;
      opacity: 0; }
      .hero h1 .thin.small {
        font-size: 4vw;
        position: relative;
        top: -15px;
        color: #86be40;
        opacity: 1; }
    .hero h1 .action {
      text-transform: uppercase;
      color: #ffffff;
      background: none;
      padding: 5px 15px;
      line-height: 1;
      display: inline-block;
      margin: 0px 0 -8px 12px;
      font-size: 7vw;
      font-weight: 400;
      position: relative;
      opacity: 0; }
      .hero h1 .action:after {
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(134, 190, 64, 0.8);
        height: 0;
        width: 0;
        content: '';
        display: block;
        z-index: -1; }
  .hero .hero-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    opacity: 0.75; }

.home.animation-step-2 .hero .thin,
.home.animation-step-2 .hero .action {
  opacity: 1;
  transition: all 1.1s; }

.home.animation-step-1 .hero .thin {
  opacity: 1; }
.home.animation-step-1 .hero .action {
  opacity: 1; }
  .home.animation-step-1 .hero .action:after {
    width: 100%;
    height: 1px;
    transition: all 0.6s; }

.home.animation-step-0 .hero h1 .thin {
  opacity: 1; }
.home.animation-step-0 .hero h1 .action {
  opacity: 1; }
  .home.animation-step-0 .hero h1 .action:after {
    width: 100%;
    height: 100%;
    transition: all 0.4s; }

.rivets:before, .rivets:after, .seal, .type {
  border-radius: 100%; }

.seal, .seal:before, .type {
  position: absolute;
  top: 50%;
  left: 50%; }

.rivets {
  width: 130px;
  height: 100px;
  position: relative;
  transform: rotate(-30deg);
  margin: 44px auto 0 auto; }
  .rivets:before, .rivets:after {
    content: " ";
    background: rgba(63, 64, 65, 0.8);
    position: absolute;
    top: 50%;
    margin-top: 0;
    width: 5px;
    height: 5px;
    z-index: 9; }
  .rivets:before {
    left: -.75em; }
  .rivets:after {
    right: -.75em; }

.seal {
  background: #3f4041;
  margin-top: -3.5em;
  margin-left: -3.5em;
  width: 7em;
  height: 7em;
  transform: rotate(0deg); }
  .seal:before {
    background: #bfd988;
    content: '';
    margin-top: -1.25em;
    margin-left: -5.25em;
    z-index: -1;
    width: 10.5em;
    height: 0;
    border: 1.25em solid rgba(0, 0, 0, 0);
    border-left: 0.625em solid #fff;
    border-right: 0.625em solid #fff;
    box-sizing: border-box;
    /*Fix to make the borders appear on the ribbon ends also*/
    background-origin: border-box; }

.type {
  transform-origin: 50%, 50%;
  transform: rotate(0deg);
  box-sizing: border-box;
  background: repeating-linear-gradient(90deg, rgba(210, 210, 210, 0.3) 0%, rgba(210, 210, 210, 0.3) 10%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 50%) 0/15px 15px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1em;
  margin-top: -3em;
  margin-left: -3em;
  width: 6em;
  height: 6em; }
  .type h3 {
    font-size: 1.6rem;
    font-weight: 900;
    margin: 20px 0 0 0; }
  .type em {
    display: block;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    margin-top: -4px; }

section.sub-page {
  margin: 78px 0;
  position: relative;
  background: #ffffff; }
  section.sub-page .page-header {
    line-height: 1.4;
    margin: 30px;
    padding: 20px 0 0 0;
    text-align: center; }
    section.sub-page .page-header h1 {
      display: inline-block;
      font-weight: 900;
      font-size: 5vw;
      text-transform: uppercase;
      bottom: -3px;
      position: relative; }
    section.sub-page .page-header span.border {
      width: 100%;
      height: 6px;
      background: #86be40;
      display: block;
      margin: 20px auto 0 auto; }
  section.sub-page .page-content {
    opacity: 0;
    text-align: center; }
    section.sub-page .page-content .content-intro {
      margin: 0 30px 30px; }
    section.sub-page .page-content .page-intro {
      max-width: 760px;
      width: 90%;
      margin: 0 auto 80px auto; }

section.sub-page.loaded .page-header span.border {
  height: 2px;
  background: rgba(210, 210, 210, 0.3);
  transition: all 600ms;
  width: 200px; }
section.sub-page.loaded .page-content {
  opacity: 1;
  transition: opacity 700ms ease-in; }

.drawer form {
  font-size: 1.4rem; }
  .drawer form label {
    font-size: 1.4rem; }
  .drawer form input {
    font-size: 1.4rem; }

.form-list li > div {
  width: 100%; }

.drawer-container {
  min-width: 300px;
  padding: 30px; }

.close {
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
  color: #527435; }

.form-drawer {
  padding: 13px 30px 30px;
  position: relative; }
  .form-drawer .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #527435; }
  .form-drawer p {
    font-size: 1.4rem !important; }
  .form-drawer label {
    font-size: 1.6rem !important; }
  .form-drawer .submit-container {
    margin: 20px 0 10px 0;
    text-align: center; }
    .form-drawer .submit-container button {
      width: 100%; }
  .form-drawer .success-message {
    margin-top: 20px; }
  .form-drawer .success-check {
    background: #527435;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin: 0 auto; }
    .form-drawer .success-check svg {
      fill: #ffffff;
      padding: 8px; }
  .form-drawer .success-content {
    opacity: 0;
    text-align: center; }
    .form-drawer .success-content h3 {
      padding: 0;
      margin: 10px 0 5px 0; }
    .form-drawer .success-content p {
      margin: 0;
      line-height: 1.4; }
    .form-drawer .success-content em {
      display: block;
      margin: 10px 0; }
  .form-drawer .form-container.success-true .form-inner {
    overflow: hidden;
    display: none; }
  .form-drawer .form-container.success-true .success-content {
    opacity: 1;
    transition: opacity 0.5s; }
  .form-drawer .form-container.completed-true .form-inner {
    display: none; }
  .form-drawer .form-container.completed-true .success-content {
    opacity: 1; }

.nav-drawer {
  padding: 0; }
  .nav-drawer h2 {
    padding: 15px;
    margin: 0; }
  .nav-drawer li a {
    display: block;
    width: 100%;
    padding: 15px;
    color: #ffffff;
    background: #527435;
    border-bottom: 1px solid #ffffff;
    font-weight: 900; }
    .nav-drawer li a.active {
      background: rgba(119, 119, 119, 0.6);
      font-weight: 700; }
  .nav-drawer .contact-form-mobile {
    padding: 0 20px 20px 20px; }

.about-us .grid-list {
  max-width: 1200px;
  margin: 0 auto; }
  .about-us .grid-list > li {
    padding: 0;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.08);
    align-items: initial;
    justify-content: initial;
    min-height: inherit; }
    .about-us .grid-list > li .member-image {
      width: 35%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
    .about-us .grid-list > li .member-info {
      width: 60%;
      text-align: left;
      padding: 25px;
      font-size: 1.3rem; }
    .about-us .grid-list > li h2 {
      padding: 0;
      margin: 0; }
    .about-us .grid-list > li h3 {
      padding: 0;
      margin: 0 0 15px 0;
      color: #d2d2d2; }
    .about-us .grid-list > li ul.social {
      list-style: none;
      font-size: 2rem;
      margin: 0;
      padding: 0; }
      .about-us .grid-list > li ul.social li {
        display: inline-block;
        margin: 0 20px 0 0; }
.about-us .secondary-content {
  max-width: 1000px;
  margin: 60px auto;
  padding: 10px;
  line-height: 1.8;
  position: relative;
  background: repeating-linear-gradient(45deg, rgba(210, 210, 210, 0.15) 0%, rgba(210, 210, 210, 0.15) 10%, rgba(245, 246, 247, 0.15) 0%, rgba(245, 246, 247, 0.15) 50%) 0/15px 15px; }
  .about-us .secondary-content p {
    background: rgba(255, 255, 255, 0.85);
    padding: 60px 20px;
    margin: 0; }
    .about-us .secondary-content p button {
      display: block;
      margin: 40px auto 0; }

.service-listings {
  padding: 30px; }
  .service-listings .listing-heading {
    position: relative; }
    .service-listings .listing-heading > h2 {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 2rem;
      margin: 0 0 30px 0;
      padding: 0 0 10px 0;
      border-bottom: 1px solid rgba(210, 210, 210, 0.3); }
    .service-listings .listing-heading p.key {
      font-size: 1.2rem;
      color: #000;
      position: absolute;
      top: 3px;
      right: 0;
      line-height: 1; }
      .service-listings .listing-heading p.key i {
        font-size: 1.6rem;
        position: relative;
        top: 2px; }
  .service-listings .grid-list h2 {
    text-transform: uppercase;
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 1.4;
    border-bottom: 1px solid rgba(210, 210, 210, 0.3);
    padding: 0 0 8px 0;
    margin: 0 0 10px 0; }
  .service-listings .grid-list .second-level-list {
    margin-top: 30px; }
  .service-listings .grid-list li {
    align-items: normal;
    justify-content: normal;
    display: block;
    border: none;
    padding: 0;
    margin: 0 15px 40px 15px;
    width: 47%; }
    .service-listings .grid-list li ul {
      text-align: left;
      margin: 0;
      padding: 0; }
      .service-listings .grid-list li ul li {
        border: none;
        padding: 10px;
        margin: 0;
        width: auto;
        min-height: inherit;
        text-align: left;
        display: flex;
        justify-content: space-between; }
        .service-listings .grid-list li ul li:nth-child(odd) {
          background: rgba(210, 210, 210, 0.2); }
        .service-listings .grid-list li ul li i {
          text-align: right;
          color: #000;
          padding-top: 3px; }

@media screen and (max-width: 1050px) {
  .highlight-content {
    margin: 10px 20px; }
    .highlight-content .text {
      font-size: 1.8rem; }

  .image-grid {
    margin: 30px 20px; }
    .image-grid li {
      margin: 0 0 20px 0; }
      .image-grid li:nth-child(odd) {
        margin: 0 20px 20px 0; }

  .service-listings .grid-list li {
    width: 45%; }

  .about-us .grid-list {
    margin: 0 20px; }
    .about-us .grid-list > li {
      width: 45%;
      margin: 0 0 20px 0; }
      .about-us .grid-list > li:nth-child(odd) {
        margin: 0 20px 20px 0; }
  .about-us .secondary-content {
    margin: 40px 20px 0 20px; }

  footer .footer-container p {
    font-size: 1.1rem; } }
@media screen and (max-width: 900px) {
  h2 {
    font-size: 1.8rem; }

  .app-header {
    height: 50px; }
    .app-header .branding {
      max-width: 100px; }
    .app-header nav li a {
      padding: 19px; }
    .app-header nav li aside {
      padding: 18px 25px; }
      .app-header nav li aside i {
        font-size: 1.6rem; }

  .home .service-intro h2 {
    font-size: 1.8rem; }
  .home .service-intro > ul {
    flex-wrap: wrap;
    margin: 0 20px;
    padding: 0;
    width: 100%; }
    .home .service-intro > ul > li {
      width: 42%;
      margin: 0 20px 0 0; }
      .home .service-intro > ul > li:nth-child(2) {
        margin: 0; }
      .home .service-intro > ul > li:nth-child(3) {
        margin: 20px 0 0 0;
        width: 91%;
        display: block; }
        .home .service-intro > ul > li:nth-child(3) i.fas {
          font-size: 150px;
          bottom: -3px;
          right: -30px; }

  .service-listings .grid-list h2 {
    font-size: 1.8rem; } }
@media screen and (max-width: 768px) {
  footer .footer-container .notice {
    top: 23px; }
  footer .footer-container .copy-creds {
    margin: 40px 0 0 0; }

  .home .service-intro > ul {
    width: 98%; }
    .home .service-intro > ul > li {
      width: 41%; }
    .home .service-intro > ul > li:nth-child(3) {
      width: 90%; }

  .about-us .grid-list > li {
    flex-wrap: wrap;
    position: relative;
    margin: 0 20px 60px 0 !important; }
    .about-us .grid-list > li .member-image {
      width: 35%; }
    .about-us .grid-list > li .member-info {
      width: 50%;
      padding: 15px; }
      .about-us .grid-list > li .member-info h2 {
        font-size: 1.6rem; }
      .about-us .grid-list > li .member-info p {
        display: none; }
    .about-us .grid-list > li .expansion-panel {
      display: block; } }
@media screen and (max-width: 620px) {
  .mobile-only {
    display: block; }

  .no-mobile {
    display: none !important; }

  .app-header {
    position: fixed;
    background: #ffffff !important;
    height: 50px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.05); }
    .app-header .branding {
      padding: 15px;
      margin: 0; }
    .app-header .desktop-nav {
      display: none; }
    .app-header .mobile-menu {
      display: block;
      position: absolute;
      top: 9px;
      right: -5px; }
      .app-header .mobile-menu button[type=button] {
        margin: 0;
        padding: 5px;
        box-shadow: none; }
        .app-header .mobile-menu button[type=button] span {
          color: #527435;
          font-size: 2rem; }

  footer .footer-container {
    padding: 20px 0 70px 0; }
    footer .footer-container .social {
      left: 0;
      top: 0;
      position: relative;
      width: 100%; }
      footer .footer-container .social li {
        width: 50%;
        margin: 0;
        padding: 0; }
        footer .footer-container .social li a {
          background: #527435;
          display: block;
          border-right: 1px solid #ffffff;
          padding: 11px 0 8px 0; }
          footer .footer-container .social li a i {
            color: #ffffff; }
    footer .footer-container .notice {
      right: 0;
      top: 25px;
      position: relative; }
    footer .footer-container .copy-creds {
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center;
      font-size: 1rem; }

  .highlight-content .text {
    margin: 0 0 20px 0; }

  .image-grid li {
    width: 100% !important;
    margin: 0 0 20px 0 !important; }
    .image-grid li h2 {
      background: #527435; }

  section.sub-page {
    margin: 40px 0; }
    section.sub-page .page-header h1 {
      font-size: 6rem; }
    section.sub-page .page-header span.border {
      margin: 15px auto 0 auto; }
    section.sub-page .page-content .page-intro {
      margin: 0 auto 25px auto;
      text-align: left; }

  .home .hero {
    padding: 80px 15px 100px 15px; }
    .home .hero h1 {
      padding: 0; }
      .home .hero h1 .thin.small {
        top: -8px; }
      .home .hero h1 .action {
        margin: 0px 0 -8px 0px;
        padding: 2px 10px; }
    .home .hero .hero-img {
      width: 115%; }
  .home .service-intro > ul {
    margin: 0;
    width: 100%; }
    .home .service-intro > ul > li {
      width: 100% !important;
      margin: 0 15px 15px 15px !important; }
  .home .about-intro {
    padding: 30px 20px 200px 20px; }
    .home .about-intro .about-container {
      display: block;
      position: relative; }
      .home .about-intro .about-container .content-left {
        position: absolute;
        bottom: -150px;
        left: 25%; }
      .home .about-intro .about-container .content-right {
        width: 100%; }

  .about-us .grid-list {
    margin-top: 40px; }
    .about-us .grid-list > li {
      width: 100% !important;
      margin: 0 0 60px 0 !important; }
      .about-us .grid-list > li .member-info {
        width: 55%;
        padding: 20px 15px; }
      .about-us .grid-list > li .member-image {
        width: 35%; }
  .about-us .secondary-content {
    margin: 20px; }
    .about-us .secondary-content p {
      padding: 20px;
      font-size: 1.4rem; }

  .service-listings {
    padding: 30px 15px; }
    .service-listings .listing-heading h2 {
      margin: 0 0 10px 0; }
    .service-listings .listing-heading p.key {
      position: relative;
      margin: 0 0 30px 0; }
    .service-listings .grid-list > li {
      width: 100%;
      margin: 0 0 20px 0; }
      .service-listings .grid-list > li h2 {
        margin-top: 20px; } }

/*# sourceMappingURL=app.css.map */
