html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Nunito Sans", sans-serif;
  color: #3f4041;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4; }

h1 {
  font-weight: 900;
  font-size: 4.8rem;
  margin: 0; }

h2 {
  text-transform: uppercase;
  font-size: 1.3vw;
  font-weight: 600;
  line-height: 1.4; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.8rem;
  margin: 0 0 8px 0; }

p {
  margin: 0 0 15px 0; }

ul {
  margin: 0 0 15px 0;
  list-style: disc; }

a {
  color: #527435;
  text-decoration: none;
  transition: color 0.5s; }
  a:hover, a:focus {
    color: #86be40; }

body button[type=button] {
  border-radius: 0;
  margin: 15px 0; }
  body button[type=button] span {
    font-size: 1.2rem; }

.grid-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .grid-list > li {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 29%;
    min-height: 300px;
    padding: 20px;
    margin: 0 10px 20px 10px;
    border: 1px solid #f5f6f7; }

.fade-exit {
  display: none; }

.fade-enter {
  z-index: 1;
  opacity: 1; }

/*

fade-enter-done
fade-exit
fade-exit-active

*/
.block {
  display: block; }

.no-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.align-right {
  text-align: right; }

.thin {
  font-weight: 300; }

.small-title-caps {
  font-weight: 300;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: block; }

.blue,
.green,
.red {
  width: 150px;
  height: 150px;
  background: blue;
  display: inline-block;
  margin: 0 20px 0 0; }

.green {
  background: green; }

.red {
  background: red; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.app-header {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 78px;
  overflow: hidden;
  z-index: 999;
  border-bottom: 1px solid rgba(63, 64, 65, 0.2); }
  .app-header .branding {
    background: #ffffff;
    padding: 15px 25px 12px 25px;
    margin: 0;
    max-width: 200px; }
  .app-header .logo {
    width: 100%; }
  .app-header nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; }
    .app-header nav ul {
      margin: 0;
      padding: 0; }
    .app-header nav li {
      display: inline-block; }
      .app-header nav li a {
        display: block;
        line-height: 1;
        font-weight: 400;
        z-index: 5;
        position: relative;
        border-left: 1px solid rgba(82, 116, 53, 0.6);
        background: #ffffff;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: 33px 25px; }
        .app-header nav li a.active {
          background: rgba(82, 116, 53, 0.6);
          color: #ffffff; }
      .app-header nav li aside {
        display: block;
        line-height: 1;
        font-weight: 400;
        z-index: 5;
        position: relative;
        border-left: 1px solid rgba(82, 116, 53, 0.6);
        background: #ffffff;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: 33px 25px; }
      .app-header nav li button {
        margin: 0;
        padding: 0;
        min-width: inherit;
        min-height: inherit; }

footer {
  background: #fff;
  text-align: center;
  padding: 30px;
  position: relative; }
  footer .footer-container p {
    margin: 0; }

.home .service-intro {
  position: relative;
  top: -40px;
  z-index: 10;
  font-size: 1.4rem;
  line-height: 1.7;
  padding: 5% 0;
  background: repeating-linear-gradient(45deg, rgba(210, 210, 210, 0.3) 0%, rgba(210, 210, 210, 0.3) 10%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 50%) 0/15px 15px; }
  .home .service-intro > ul {
    list-style: none;
    margin: 0 auto;
    padding: 0 4%;
    display: flex; }
    .home .service-intro > ul > li {
      margin: 0 10px;
      padding: 20px;
      background: #ffffff;
      width: 34%;
      position: relative;
      box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2); }
      .home .service-intro > ul > li p {
        z-index: 9;
        position: relative; }
      .home .service-intro > ul > li:last-child {
        background: #f5f6f7; }
        .home .service-intro > ul > li:last-child i.fas {
          position: absolute;
          font-size: 104px;
          bottom: 0;
          right: 35%;
          color: #fff;
          z-index: 0; }
  .home .service-intro h2 {
    text-transform: uppercase;
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 1.4;
    border-bottom: 1px solid rgba(210, 210, 210, 0.3);
    padding: 0 0 8px 0;
    margin: 0 0 10px 0; }
.home .about-intro {
  background: #ffffff;
  z-index: 10;
  top: -40px;
  position: relative;
  padding: 100px 4%; }
  .home .about-intro .content-right {
    width: 60%; }

.hero {
  position: relative; }
  .hero h1 {
    position: relative;
    font-size: 9vw;
    color: #fff;
    z-index: 9;
    padding: 13% 3%;
    text-align: left; }
    .hero h1 > span {
      display: flex;
      align-items: center; }
    .hero h1 .title {
      display: block; }
    .hero h1 .sub-title {
      font-size: 5vw;
      margin: -8px 0 0 17vw; }
      .hero h1 .sub-title .thin {
        margin: 0 10px 0 15px; }
    .hero h1 .thin {
      font-weight: 300; }
      .hero h1 .thin.small {
        font-size: 4vw;
        position: relative;
        top: -15px;
        color: #86be40; }
    .hero h1 .action {
      text-transform: uppercase;
      color: #ffffff;
      background: rgba(134, 190, 64, 0.8);
      padding: 5px 15px;
      line-height: 1;
      display: inline-block;
      margin: 0px 0 -8px 12px;
      font-size: 7vw;
      font-weight: 400; }
  .hero .hero-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0; }

section.sub-page {
  margin: 78px 0;
  position: relative;
  background: #ffffff; }
  section.sub-page .page-header {
    line-height: 1.4;
    margin: 30px;
    padding: 20px 0 0 0;
    text-align: center; }
    section.sub-page .page-header h1 {
      display: inline-block;
      font-weight: 900;
      font-size: 4.5vw;
      text-transform: uppercase;
      bottom: -3px;
      position: relative; }
    section.sub-page .page-header span.border {
      width: 100%;
      height: 6px;
      background: #86be40;
      display: block;
      margin: 20px auto 0 auto; }
  section.sub-page .page-content {
    opacity: 0;
    text-align: center; }
    section.sub-page .page-content .content-intro {
      margin: 0 30px 30px; }
    section.sub-page .page-content .page-intro {
      max-width: 760px;
      width: 90%;
      margin: 0 auto 40px auto; }

section.sub-page.loaded .page-header span.border {
  height: 2px;
  background: rgba(210, 210, 210, 0.3);
  transition: all 700ms;
  width: 200px; }
section.sub-page.loaded .page-content {
  opacity: 1;
  transition: opacity 800ms ease-in; }

.service-listings {
  padding: 30px; }
  .service-listings .listing-heading {
    position: relative; }
    .service-listings .listing-heading > h2 {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 2rem;
      margin: 0 0 30px 0;
      padding: 0 0 10px 0;
      border-bottom: 1px solid rgba(210, 210, 210, 0.3); }
    .service-listings .listing-heading p.key {
      font-size: 1.2rem;
      color: #86be40;
      position: absolute;
      top: 3px;
      right: 0;
      line-height: 1; }
      .service-listings .listing-heading p.key i {
        font-size: 1.6rem;
        position: relative;
        top: 2px; }
  .service-listings .grid-list h2 {
    text-transform: uppercase;
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 1.4;
    border-bottom: 1px solid rgba(210, 210, 210, 0.3);
    padding: 0 0 8px 0;
    margin: 0 0 10px 0; }
  .service-listings .grid-list .second-level-list {
    margin-top: 30px; }
  .service-listings .grid-list li {
    align-items: normal;
    justify-content: normal;
    display: block;
    border: none;
    padding: 0;
    margin: 0 15px 40px 15px;
    width: 47%; }
    .service-listings .grid-list li ul {
      text-align: left;
      margin: 0;
      padding: 0; }
      .service-listings .grid-list li ul li {
        border: none;
        padding: 10px;
        margin: 0;
        width: auto;
        min-height: inherit;
        text-align: left;
        display: flex;
        justify-content: space-between; }
        .service-listings .grid-list li ul li:nth-child(odd) {
          background: rgba(210, 210, 210, 0.2); }
        .service-listings .grid-list li ul li i {
          text-align: right;
          color: rgba(134, 190, 64, 0.5); }

/*# sourceMappingURL=app.css.map */
