//-------------------------//
//-----> Variables
//-------------------------//

// Color Palette
$cPrimary: #3f4041;
$cSecondary: #f5f6f7;
$cSecondaryText: #d2d2d2;
$cAction: #527435;
$cAction2: #86be40;
$cAction3: #bfd988;
$cW: #ffffff;

// Spacing and Columns
$lColSpace: 90px;

// Font Stack
$fPrimary: 'Nunito Sans', sans-serif;

// Breakpoints

//-------------------------//
//-----> Global
//-------------------------//

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $fPrimary;
  color: $cPrimary;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4;
}

h1 {
  font-weight: 900;
  font-size: 4.8rem;
  margin: 0;
}

h2 {
  font-size: 2.8rem;
  margin: 0 0 20px 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.8rem;
  margin: 0 0 8px 0;
}

a {
  color: $cAction;
}

button {
  background: $cAction;
  color: $cW;
  border: none;
  outline: none;
  padding: 5px 8px;
  text-align: center;
  cursor: pointer;
}

// Helper Classes
.block {
  display: block;
}

.no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.align-right {
  text-align: right;
}

.thin {
  font-weight: 300;
}

.small-title-caps {
  font-weight: 300;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: block;
}

.c-secondary {
   color: $cSecondary;
 }

.c-secondary-text {
  color: $cSecondaryText;
}

//-------------------------//
//-----> Layout
//-------------------------//
.app {
  text-align: left;
  background: url("images/techstack.jpg") fixed;
  background-size: contain;
}

header {
  background: rgba(256, 256, 256, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .logo {
    //animation: App-logo-spin infinite 20s linear;
    max-width: 240px;
    padding: 20px;
    display: block;
  }
}

footer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 71px;
  //opacity: 0.6;
  background: url("images/border.png") right top repeat-y;
  z-index: 2;

  .connect {
    font-size: 3.6rem;
    position: absolute;
    bottom: 6px;
    padding: 9px 1px 0 0;

    li {

      &:first-child {

      }

      a {
        position: relative;
        height: 45px;
        padding: 2px 17px;
        display: block;

        i {
          z-index: 3;
          position: relative;
        }

        .connect-info {
          background: $cW;
          font-size: 1.2rem;
          padding: 17px 0 0 80px;
          height: 34px;
          position: absolute;
          top: 0;
          left: -400px;
          width: 160px;
          z-index: 2;
          border: 1px solid $cSecondary;
          border-left: none;
        }

        &:hover {

          .connect-info {
            left: 0;
          }
        }
      }
    }
  }
}

.at-bottom {

  footer .connect {
    background: $cSecondary;

    li a {

      &:hover {

        .connect-info {
          background: $cW;
        }
      }

      .connect-info {
        left: 0;
        background: $cSecondary;
      }
    }
  }
}

//-------------------------//
//-----> Sections
//-------------------------//
section {
  overflow: hidden;
  background: $cSecondary;
}

#hero {
  background: #000 url("images/hero.jpg") left top no-repeat;
  background-size: cover;
  padding: 160px 30px 110px $lColSpace;

  h1 {
    color: #fff;
    display: inline-block;
    line-height: 1.2;

    .small-title-caps {
      margin: 0 0 10px 0;

      &.align-right {
        margin: 0;
      }
    }
  }
}

#intro {
  background: $cSecondary url("images/decentralized-network.png") 95% center no-repeat;
  background-size: 30%;
  padding: 100px 0 100px $lColSpace;

  .content {
    width: 50%;
  }
}

#techstack {
  text-align: center;
  padding: 100px 50px;
  background: -moz-linear-gradient(top, rgba(82,116,53,1) 0%, rgba(82,116,53,0.15) 50%, rgba(82,116,53,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(82,116,53,1) 0%,rgba(82,116,53,0.15) 50%,rgba(82,116,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(82,116,53,1) 0%,rgba(82,116,53,0.15) 50%,rgba(82,116,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#527435', endColorstr='#527435',GradientType=0 ); /* IE6-9 */

  h2 {
    color: $cW;
    font-weight: 900;
    line-height: 0;
    margin: 0;
    font-size: 3.2rem;
    letter-spacing: 1px;
    padding-left: $lColSpace;
  }
}

#team {
  text-align: center;
  padding: 80px 0 80px $lColSpace;

  h2 {
    background: url("images/border-horizontal.png") center bottom repeat-x;
    max-width: 230px;
    margin: 0 auto 25px auto;
    padding: 0 0 10px 0;
  }

  p {
    font-size: 1.6rem;
    width: 80%;
    max-width: 800px;
    margin: 10px auto;
    line-height: 1.5;
  }

  .team-list {
    overflow: hidden;
    text-align: left;
    margin: 30px 20px;

    > li {
      float: left;
      width: 47%;
      margin: 0 1%;
      border: 1px solid $cSecondaryText;
      overflow: hidden;
      background: $cW;

      .member-image {
        float: left;
        width: 29%;
        border-right: 1px solid $cSecondaryText;

        img {
          display: block;
          width: 100%;
        }
      }

      .member-info {
        float: left;
        position: relative;
        padding: 4%;
        width: 62%;
        font-size: 1.4rem;

        h3 {
          margin: 0;
          padding: 0;
          line-height: 1.1;
          font-size: 1.8rem;
        }

        h4 {
          margin: 0 0 10px 0;
          padding: 0;
          font-size: 1.4rem;
          font-weight: 300;
          text-transform: uppercase;
          color: $cAction;
        }

        ul {
          list-style: square;
          margin: 0 0 0 10px;
          padding: 0 0 0 10px;

          li {
            margin: 0 0 7px 0;

            &:last-child {
              margin: 0;
            }
          }
        }

        .social {
          list-style: none;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 9%;
          right: 6%;
          font-size: 2.0rem;
        }
      }
    }
  }
}

#payments-donations {
  background: $cPrimary;
  text-align: center;
  padding: 50px 0 50px $lColSpace;

  h2 {
    color: $cW;
  }

  .crypto-addresses {
    overflow: hidden;

    li {
      float: left;
      width: 48%;
      margin: 2% 1%;
      color: $cW;
      text-align: left;
    }

    .crypto-asset {

      img {
        display: inline-block;
        width: 20px;
        margin: 0 0 -4px;
      }

      h5 {
        display: inline-block;
        padding: 0 10px;
      }
    }

    .input-action {
      border: 1px solid$cSecondaryText;
      background: $cSecondary;
      position: relative;

      .address {
        padding: 8px 40px 8px 8px;
        display: block;
        position: relative;
        font-size: 1.4rem;
        font-weight: 400;
        color: $cPrimary;
      }

      button {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        display: block;
        z-index: 2;
        padding: 5px 10px 5px 12px;
      }
    }
  }
}

.content-bottom {
  background: $cSecondary url("images/hexagon-footer.png") right bottom no-repeat;
  background-size: 26%;
  padding: 0 0 0 $lColSpace;
  position: relative;

  p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 126px 15px 24px 0;
    line-height: 1;
    text-align: center;

    .logo-icon {
      width: 15px;
      display: inline-block;
      margin: 0 9px -5px 0;
      opacity: 0.4;
    }
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
