//-------------------------//
//-----> Variables
//-------------------------//

// Color Palette
$cPrimary: #3f4041;
$cSecondary: #f5f6f7;
$cAction: #527435;
$cAction2: #86be40;
$cAction3: #bfd988;
$cW: #ffffff;

// Font Stack
$fPrimary: 'Nunito Sans', sans-serif;

// Breakpoints

//-------------------------//
//-----> Global
//-------------------------//

html {
  font-size: 62.5%;
}

body {
  font-family: $fPrimary;
  color: $cPrimary;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.4;
}

h1 {
  font-weight: 900;
  font-size: 3.4rem;
}

h2 {
  font-size: 2.8rem;
}

a {
  color: $cAction;
}

// Helper Classes
.no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.thin {
  font-weight: 300;
}

.small-title-caps {
  font-weight: 300;
  text-transform: uppercase;
  display: block;
}

.c-secondary {
  //color: $cSecondary;
}

//-------------------------//
//-----> Layout
//-------------------------//

header {
  background: rgba(256, 256, 256, 0.5);
}

footer {

  .connect {
    font-size: 3.6rem;

    li {
      display: inline-block;
      margin: 0 15px;
    }
  }
}

.app {
  text-align: center;
  margin: 30px;
}

.logo {
  //animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
