@media screen and (min-width: 1025px) {
  footer .connect li a:hover .connect-info {
    left: 0; }

  .at-bottom footer .connect li a:hover .connect-info {
    background: #fff; } }
@media screen and (max-width: 1024px) {
  #intro {
    padding: 75px 0 75px 90px;
    background-size: 25%; }
    #intro .content {
      width: 60%; }

  #team {
    padding: 50px 0 50px 90px; }
    #team .team-list > li .member-info h3 {
      font-size: 1.4rem; }
    #team .team-list > li .member-info h4 {
      font-size: 1.2rem; }
    #team .team-list > li .member-info ul li {
      margin: 0 0 2px 0;
      font-size: 1.2rem; }

  #payments-donations .crypto-addresses .input-action .address {
    font-size: 1.3rem; } }
@media screen and (max-width: 876px) {
  body {
    font-size: 1.6rem; }

  h1 {
    font-size: 4rem; }

  h5 {
    font-size: 1.6rem; }

  header .logo {
    max-width: 140px;
    padding: 15px; }
  header .blog-link {
    width: 61px;
    font-size: 1.4rem;
    top: 10px;
    right: -11px; }

  footer {
    width: 45px; }
    footer .connect {
      font-size: 2.2rem;
      padding: 20px 1px 0 0; }
      footer .connect li a {
        height: 45px;
        padding: 0 11px; }
        footer .connect li a .connect-info {
          padding: 5px 0 0 65px; }

  #hero {
    padding: 100px 0 60px 60px; }

  #intro {
    padding: 60px; }
    #intro .content {
      width: 70%; }
      #intro .content h2 {
        font-size: 2.2rem;
        margin: 0 0 15px 0; }

  #techstack h2 {
    padding-left: 60px;
    font-size: 2.8rem; }

  #team {
    padding: 40px 0 40px 60px; }
    #team p {
      font-size: 1.4rem; }
    #team .team-list {
      margin: 30px 0; }

  #payments-donations {
    padding: 40px 0 40px 60px; }
    #payments-donations .crypto-addresses .crypto-asset img {
      width: 17px;
      margin: 0 0 -3px; }
    #payments-donations .crypto-addresses .input-action .address {
      padding: 5px 40px 5px 4px;
      font-size: 1.2rem; } }
@media screen and (max-width: 767px) {
  footer .connect {
    padding: 20px 1px 0 0; }
    footer .connect li a {
      height: 40px; }

  #techstack {
    padding: 75px 50px; }

  .content-bottom p {
    margin: 110px 15px 24px 0; } }
@media screen and (max-width: 764px) {
  body {
    font-size: 1.4rem; }

  h1 {
    font-size: 2.5rem; }

  h2 {
    font-size: 1.8rem; }

  footer .connect {
    padding: 12px 1px 0 0; }

  #message {
    padding: 10px 0;
    font-size: 1.7rem;
    z-index: 9; }

  #hero {
    padding: 100px 10px 60px 60px; }

  #intro {
    padding: 30px 10px 30px 60px;
    background-image: none; }
    #intro .content {
      width: 100%; }
      #intro .content h2 {
        font-size: 2rem; }

  #techstack {
    padding: 40px; }
    #techstack h2 {
      font-size: 2rem;
      padding: 0;
      line-height: 1.2; }

  #team {
    padding: 30px 10px 20px 60px; }
    #team > p {
      display: none; }
    #team .team-list > li {
      width: 99%;
      float: none;
      margin: 2% 0; }
      #team .team-list > li .member-info {
        padding: 2% 3%; }

  #payments-donations .crypto-addresses li {
    float: none;
    width: 100%;
    margin: 0 0 22px 0; }
    #payments-donations .crypto-addresses li .input-action .address {
      font-size: 1rem; }
    #payments-donations .crypto-addresses li .input-action input {
      padding: 7px 40px 7px 6px; }

  .content-bottom p {
    font-size: 0.9rem;
    text-align: right;
    margin: 116px 15px 10px 0;
    float: right;
    width: 50%;
    line-height: 1.2; } }

/*# sourceMappingURL=Responsive.css.map */
